.container.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-container {
  position: relative;
}

.slide {
  position: relative;
  display: inline-block;
}

.slide-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: brightness(60%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.help-description {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}


.slide-text {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: white;
  font-size: 5.1rem;
  font-weight: bold;
  padding: 80px 20px;
  border-radius: 5px;
  font-family: serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.slide-container {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.slide {
  width: 100%;
}

.form-section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}

.info-section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 43%;
  margin-left: auto;
  margin-right: auto;

}

h2 {
  color: #4d2952;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;

}
mat-icon {
  color: #4d2952;
  margin-right: 5px;
  margin-bottom: -4px;

}
.send{
color: white;
}
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

input, textarea {
  font-size: 16px;
}

mat-form-field.mat-form-field {
  background-color: #f9f9f9;
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f1f1f1;
  border-radius: 5px;
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: transparent;
}

.error-text {
  color: #ff3860;
  font-size: 14px;
  margin-top: 5px;
}

button.submit-button {
  background-color: #4d2952;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button.submit-button:disabled {
  background-color: #b5a3b5;
  cursor: not-allowed;
}

button.submit-button:hover {
  background-color: #6d4b72;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  color: #4d2952;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: #4d2952;
  font-size: 16px;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #6d4b72;
}
.Location{
width: 100%;
}

@media (max-width: 768px) {
  .row {
    width: 100%;
    display:block;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  .form-section {

    width: 80%;
    margin-left: auto;
    margin-right: auto;margin-top: 10px;

  }

  .info-section {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;


  }
  .slide-text {

    font-size: 4.1rem;

  }
}
